@page "/testapi"

@using MauiCorpClient.Data;
@using System.Text.Json;
@inject HttpClient client;
<h3>APITest</h3>


<h1>Call test web API</h1>

@if (getRootsError || roots is null)
{
    <p>Unable to get users. Please try again later.</p>
}
else
{
    <ul>
        @foreach (var root in roots)
        {
            <li>@root.firstname</li>
        }
    </ul>
}

@code {
    private IEnumerable<Root>? roots = Array.Empty<Root>();
    private bool getRootsError;
    private bool shouldRender;

    protected override bool ShouldRender() => shouldRender;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get,
            "https://jsonplaceholder.org/users");

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {
            using var responseStream = await response.Content.ReadAsStreamAsync();
            roots = await JsonSerializer.DeserializeAsync
                <IEnumerable<Root>>(responseStream);
        }
        else
        {
            getRootsError = true;
        }

        shouldRender = true;
    }

}
