@using MauiCorpClient.Services;
@inject NavigationService NavigationService
@inherits ComponentBase

<footer class="bottom-bar-wrapper">
    <div class="container-fluid">
        <nav class="bottom-bar flex-row">
            <BottomBarItem Href="fetchdata" Index="0" Icon="img/main-icon.svg" Text="Головна" />
            <BottomBarItem Href="companies" Index="1" Icon="img/home-icon.svg" Text="Компанії" />
            <BottomBarItem Href="fetchdata" Index="2" Icon="img/qr-icon.svg" Text="QR" />
            <BottomBarItem Href="fetchdata" Index="3" Icon="img/map-icon.svg" Text="Карта" />
            <BottomBarItem Href="userprofile" Index="4" Icon="img/user-icon.svg" Text="Профіль" />
        </nav>
    </div>
</footer>

@code {
}
