<footer class="bottom-bar-wrapper">
    <div class="container-fluid">
        <nav class="bottom-bar flex-row">
            <div class="nav-item px-3">
                <NavLink class="bottom-bar-nav-link" href="" Match="NavLinkMatch.All">
                    <img src="img/home-icon.svg"/>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="bottom-bar-nav-link" href="counter">
                    <img src="img/home-icon.svg" />
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="bottom-bar-nav-link" href="fetchdata">
                    <img src="img/home-icon.svg" />
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="bottom-bar-nav-link" href="testapi">
                    <img src="img/home-icon.svg" />
                </NavLink>
            </div>
        </nav>
    </div>
</footer>

@code {

}
