<div class="company-search-bar">
    <div class="top-search-panel">
        <div class="company-search-input">
            <img src="img/company-search.png" />
            <input type="search" placeholder="Знайти компанію" />
        </div>
    </div>
    <div class="bottom-search-panel">
        <div class="company-search-input">
            <img src="img/company-location.png" />
            <input type="search" placeholder="Місто" />
        </div>
        <div class="company-search-input">
            <img src="img/company-category.png" />
            <input type="search" placeholder="Категорія" />
        </div>
    </div>

</div>

@code {

}
