@inject NavigationManager NavManager;
@inject ProgressBarService ProgressBarService
@inject AppStateService AppState

<NavLink class="company" @onclick="OpenCompanyDetails">
    <div class="company-header">
        <div class="company-logo">
            <img src="img/loyalty-logo-small.png" />
        </div>
        <div class="company-info">
            <h4 class="company-title">@Name</h4>
            <p class="company-short-description">@ShortDescription</p>
        </div>
    </div>
    <div class="company-footer">
        <div class="d-flex">
            <div class="company-footer-item">
                <img src="img/company-category.png" />
                <span>Магазини</span>
            </div>
            <div class="company-footer-item">
                <img src="img/company-location.png" />
                <span>@Location</span>
            </div>
        </div>
        <div class="d-flex">
            <div class="company-footer-loyalty">
                <span>Знижки до 20%</span>
            </div>
        </div>
    </div>
</NavLink>
@code {

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string ShortDescription { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public string Location { get; set; }

    [Parameter]
    public string Logo { get; set; }

    [Parameter]
    public string Categories { get; set; }

    private void OpenCompanyDetails()
    {
        var company = new Company
        {
            Id = Id,
            Name = Name,
            ShortDescription = ShortDescription,
            Description = Description,
            Location = Location,
            Logo = Logo,
            Categories = Categories
        };



        var companyParams = JsonConvert.SerializeObject(company);

        byte[] bytes = Encoding.Default.GetBytes(companyParams);

        var encodedCompanyParams = Convert.ToBase64String(bytes);

        ProgressBarService.Visible = true;
        AppState.SetPageLoaded(false);
        NavManager.NavigateTo($"/company/{encodedCompanyParams}");
    }
}
